body {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
label {
    display: block;
    margin: 5px 0;
}
input {
    width: 100%;
    padding: 8px;
    border: 1px solid #b6b6b6;
}
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #b6b6b6;
}
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #b6b6b6;
}
.success-msg {
    color: green;
    font-weight: bold;
    font-size:18px
}
.save-btn {
    padding: 10px;
    min-width: 100px;
    background: #01dbdf;
    border: none;
    color: #ffff;
}
.form-group {
    margin: 12px 0;
}

.body {
    display: flex;
}

.logo {
    color: #fff;
    padding: 0px 30px;
}

aside {
    width: 250px;
    background: #404e67;
    height: 100vh;
}

.sidebar li {
    padding: 10px 30px;
}
.sidebar li a {
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
}

/* ---------Content Area------ */
.content-area {
    width: 100%;
}

.content {
    background: #efefef;
    height: 100vh;
    padding: 0 30px;
}
header {
    background-color: #e6e6e6;
}

header ul {
    display: flex;
    gap: 20px;
    padding: 15px 30px;
}
header ul a {
    color: #353333;
    font-size: 18px;
    text-decoration: none;
}

/* ------------------Category */

.card-block {
    display: flex;
    gap: 50px;
}

.card-right,
.card-left {
    width: 50%;
    background: #ffffff;
    padding: 30px;
}
