@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 42px;
}
h3 {
    font-size: 34px;
}
h4 {
    font-size: 26px;
}
h5 {
    font-size: 20px;
}
h6 {
    font-size: 14px;
}
p {
    font-size: 16px;
}
a {
    text-decoration: none;
    color: #848484;
}
li {
    list-style: none;
}
ul {
    padding: 0;
}
label {
    display: block;
    margin: 5px 0;
}
input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
}
input:focus,textarea:focus,select:focus {
    outline: none;
    border: 1px solid #01a9ac;
}
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #b6b6b6;
}
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #b6b6b6;
}
.my-10 {
    margin: 10px 0;
}
.mx-10 {
    margin: 0 10px;
}
.py-10 {
    padding: 10px 0;
}
.px-10 {
    padding: 0 10px;
}
.success-msg {
    color: green;
    font-weight: bold;
    font-size: 18px;
}
.error {
    color: red;
}
.save-btn {
    padding: 10px;
    min-width: 100px;
    background: #01dbdf;
    border: none;
    color: #ffff;
}
.form-group {
    margin: 12px 0;
}

.body {
    display: flex;
}

.logo {
    padding: 0px 30px;
    margin: 10px 0;
}
.logo img {
    max-width: 40px;
}

aside {
    width: 250px;
    background: #404e67;
    height: 100vh;
    position: fixed;
}

.sidebar li {
    padding: 10px 30px;
}
.sidebar li a {
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
}

/* ---------Content Area------ */
.content-area {
    width: calc(100% - 250px);
    margin-left: 250px;
}

.content {
    background: #f6f7fb;
    padding: 0 40px 50px;
    margin-top: 50px;
    min-height: calc(100vh - 100px);
    
}
header {
    background-color: #fff;
    box-shadow: 0px 3px 11px #00000021;
    position: fixed;
    width: calc(100% - 250px);
}

header ul {
    display: flex;
    gap: 20px;
    padding: 15px 30px;
    justify-content: end;
}
header ul a {
    color: #353333;
    font-size: 16px;
    text-decoration: none;
}
.card-header {
    color: #303548;
}
/* ------------------Category */

.card-block {
    display: flex;
    gap: 50px;
    align-items: start;
}

.card-right,
.card-left {
    width: 50%;
    background: #ffffff;
    padding: 30px;
    box-shadow: 0 1px 20px 0 #455a6414;
    border-radius: 8px;
}
